# The public-facing base URL of our app
# Used by absoluteUrl() to build fully-qualified links
# Must include protocol (https://) and no trailing slash
NEXT_PUBLIC_APP_URL=https://example.com
NEXTAUTH_URL=https://example.com

# Database for persistent data analysis and user experience
ADMIN_EMAILS=
DATABASE_URL=

# Auth providers for account creation
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=