@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(16 16 18);
  color: rgb(159 159 169);
  min-height: 100vh;
  line-height: 21px;
  overflow-y: visible;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-wrap-mode: wrap;
  text-wrap-style: balance;
}

main {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

